.folderHolder {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
}

.folder {
  max-height: 90vh;
  max-width: 100%;
  width: 90vw;
  aspect-ratio: 36/22;
  color: black;
  z-index: -1;
  position: absolute;
  z-index: 0;
  transition: all 0.1s ease;
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-sizing: border-box;
  perspective: 3000px;
}

.folderHolder .backdrop {
  width: 100vw;
  height: 100vh;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  background: rgba(28, 42, 40, 0.616);
  transition: opacity 0.5s ease-in-out 1.5s;
}

.closed .backdrop {
  opacity: 0;
  transition: opacity 0.1s ease-in-out 0s;
}

.folder > div {
  position: relative;

  /* background: #fbeb96; */
}

.folder > div::before {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: '';
  z-index: -1;

  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.409);
}

.folder .right::before {
  width: 105%;
  border-radius: 0 15px 15px 0;
  background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.341) 0,
      #00000023 5%,
      rgba(251, 234, 150, 0) 100%
    ),
    #fbeb96;
}

.folder .left::before {
  border-radius: 15px 0 0 15px;

  background: linear-gradient(
      -90deg,
      rgba(0, 0, 0, 0.388) 0,
      #00000023 5%,
      rgba(251, 234, 150, 0) 100%
    ),
    #fbeb96;
}

.folder .left .inner {
  margin-top: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0s linear 1.9s;
  opacity: 1;
}
.closed .folder .left .inner {
  transition: opacity 0s linear 0.4s;
  opacity: 0;
}

.folder .left .cover {
  transition: opacity 0s linear 1.9s;
  opacity: 0;
  transform: scaleX(-1);
}

.cover {
  width: 100%;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  font-size: 2em;
  margin-top: 3em;
}

.cover h1 {
  margin: 0;
  padding: 0;
}

.closed .folder .left .cover {
  transition: opacity 0s linear 0.4s;
  opacity: 1;
}

.folder .left {
  transform: rotateY(0deg);
  transform-origin: right;
  transition: transform 0.8s linear 1.5s;
  z-index: 10;
}

.closed .folder .left {
  transform: rotateY(180deg);
  transform-origin: right;
  transition: transform 0.8s linear;
}

.folder {
  transition: transform 0.8s ease-in-out 1.5s;
}

.closed .folder {
  transform: translateX(-25%);
  transition: transform 0.8s ease-in-out 0s;
  /* opacity: 0; */
}

.caseFiles {
  height: 95%;
  width: 95%;
}

.cases {
  background-color: rgb(239, 245, 204);
  height: 100%;
  width: 100%;
  top: 0;
  padding: 2em;
  transform: translate(2%, 0%) rotate(-3deg);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  box-sizing: border-box;
  transition: transform 1.2s ease-in-out;
  z-index: 1;
}

.caseFiles::after,
.caseFiles::before {
  transition: transform 1.2s ease-in-out;
}

.closed .cases {
  transform: translate(1%, 0%) rotate(1deg);
  transition: transform 0.2s ease-in-out;
}

.cases .case {
  display: flex;
  align-items: start;
  margin-bottom: 1em;
  gap: 1em;
  font-size: 1.1em;
}

.case > img {
  border-radius: 1px;
}
.case > div > * {
  margin: 0;
  padding: 0;
}

.caseDetails {
  font-family: 'Times New Roman', Times, serif;
  width: 90%;
  height: 90%;
  background-color: rgb(239, 245, 204);
  padding: 2em;
  padding-top: 0.5em;
  transform: translate(4%, -2%) rotate(3deg);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  border-radius: 3px;
}

.folder button {
  margin: 0 0.5em;
  border-radius: 10px;
  border: dashed black 1px;
  padding: 0.2em 1em;
  background-color: rgb(239, 245, 204);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.folder button:hover {
  background-color: rgb(212, 212, 199);
  transform: scale(1.1) rotate(1deg);
}

.openCase {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 1em;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
}

.openCase button {
  font-size: 0.8em;
}

.timeLog {
  display: grid;
  grid-template-columns: 0fr 0fr 5fr;
  gap: 1em;
  align-items: center;
  margin: 0;
  padding: 0;
}

.timeLog > * {
  margin: 0;
  padding: 0;
}

.times {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-bottom: 1.5em;
}
